@{
    ViewData["Title"] = "Home Page";
}
<section class="bg-light" id="ClientReg">
    <div class="container">
        <div class="row mt-5 pb-5 justify-content-between">
            <div class="col-lg-3 col-2" style="margin-top: 150px;">
                <h4>Зарегестрируйте вашу компанию в нашей системе</h4>
                <button asp-controller="Client" asp-action="CreateClient" class="btn btn-primary">Зарегестрировать</button>
            </div>
            <div class="col-5 mt-5">
                <img src="~/images/buisness.png" style="width: 700px;" alt="">
            </div>
        </div>
        <a href="#founderReg" style="scroll-behavior: smooth">down</a>
    </div>
</section>
<section id="founderReg" style="margin-top: 500px;">
    <div class="container">
        <h1>Founder</h1>
    </div>
</section>